* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body {
  font-family: sans-serif;
  #f5f5f5
}
.container {
  padding: 0;
}
.row {
  margin: 10px;
  margin-bottom: 0;
  margin-top: 0;
}
/*HERO*/
#first {
  margin-top: 10px;
}
.card-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-inverse {
  padding: 0;
  margin-bottom: 1vh;
}
.card-text {
  position: absolute;
  top: 47%;
  color: white;
  font-size: 15px;
}
.secondary-hero {
  position: absolute;
  top: 87%;
  font-size: 10px;
}


/*MIDDLE BOXES*/
.content-box {
  height: 10vh;
  width: 100%;
  margin-bottom: 1vh;
  box-shadow: 0px 3px 8px gray;
  padding: 0;
}
.card-body {
  height: 8vh;
  width: 100%;
  padding: 0;
}
.content-box img {
  float: left;
  height: 90%;
  width: 35%;
  padding: 5px;
}
.card-title {
  margin-left: 10px;
  margin-top: 5px;
  width: 60%;
  display: inline-block;
  font-size: 15px;
}
img.bcase {
  height: 15px;
  width: 15px;
  padding: 0;
  margin-right: 5px;
}
.secondary {
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 10px;
  padding-top: 2px;
  font-size: 10px;
}

/*LAST LG BOX*/
.end-img {
  height: 25vh;
  width: 100%;
  background-image: url("../img/xmas.jpg");
  height: 25vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 1vh;
}

/*TABLET*/
@media screen and (min-width: 750px) {
  .row {
    margin: 0;
  }
  .col-md-6 {
    max-width: 47%;
  }
  .card {
    margin-bottom: 2vh;
  }

  .card-img {
    height: 100%;
  }

 /*SMALL BOXES*/

  .content-box {
    height: 35vh;
    width: 33vw;
    margin-bottom: 2vh;
    margin-left: 2vw;
    box-shadow: 0px 3px 8px gray;
    padding: 0;
  }
  .card-body {
    height: 20vh;
    width: 100%;
    padding: 0;
  }

  .content-box img {
    display: block;
    width: 100%;
    height: 60%;
    margin-bottom: 20px;
  }

  img.bcase {
    height: 15px;
    width: 15px;
    padding: 0;
    margin-right: 5px;
  }

  p.card-title {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    padding: 5px;
  }

  .secondary {
    margin-top: 15px;
    font-size: 13px;
  }

  /*LARGE IMG BOXES*/

  .card-text {
    position: absolute;
    top: 86%;
    color: white;
  }
  .secondary-hero {
    position: absolute;
    top: 91%;
    font-size: 15px;
  }

}

/*LAPTOP*/

@media screen and (min-width: 1000px) {

  .top-row {
    margin-top: 20vh;
    margin-bottom: 0;
  }

  .bottom-row {
    width: 100%
  }
  .col-lg-6 {
    max-width: 45%;
  }

  .card-inverse {
    box-shadow: 0px 3px 8px gray;
  }

  .content-box {
    height: 30vh;
    width: 25vw;
    margin-bottom: 2vh;
    margin-left: 15px;
    box-shadow: 0px 3px 8px gray;
    padding: 0;
  }

  .content-box:nth-of-type(1) {
    margin-left: 0;
  }

  .card-body {
    height: 100%;
    padding: 0;
  }

  .content-box img {
    display: block;
    width: 100%;
    height: 40%;
    margin-bottom: 20px;
  }

  p.card-title {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 18px;
    padding: 5px;
  }

  .secondary {
    margin-top: 15px;
    font-size: 13px;
  }

  img.bcase {
    height: 20px;
    width: 20px;
    padding: 0;
    margin-right: 10px;
  }

  .card-text {
    position: absolute;
    top: 49%;
    color: white;
    font-size: 1.5em;
  }
  .secondary-hero {
    position: absolute;
    top: 87%;
    font-size: 15px;
  }

  #last {
    margin-left: 15px;
  }

}
