* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body {
  font-family: sans-serif;
  background: #f5f5f5;
}
.custom-container {
  margin: 0;
  padding: 0 30px;
}
.row {
  margin: 10px;
  margin-bottom: 0;
  margin-top: 0;
}
nav {
  background-color: #f5f5f5;
}
.logo-image {
  position: absolute;
  left: 17%;
}
#doink {
  position: absolute;
  left: 6%;
}
/*HERO*/

.hero-phrase h1 {
  width: 100vw;
  padding: 20px;
  font-weight: 200;
  font-size: 2em;
  padding-bottom: 76px;
  padding-top: 23px;
  background: #f5f5f5;
}

.card-img {
  height: 100%;
  width: 100%;
  /*padding: 5px;*/
}
.card-lg {
  height: 30vh;
  width: 100%;
  margin-bottom: 1vh;
  box-shadow: 0px 3px 8px gray;
  padding: 0;
  margin: 0;
}

#first-img {
  background-image: url("../img/blk-fri.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#holiday {
  background-image: url("../img/xmas.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-inverse {
  padding: 0;
  margin-bottom: 1vh;
}
.card-text {
  position: absolute;
  top: 47%;
  color: white;
  font-size: 15px;
  word-wrap: break-word;
}
.secondary-hero {
  position: absolute;
  top: 87%;
  font-size: 10px;
}


/*MIDDLE BOXES*/
.content-box {
  height: 10vh;
  width: 100%;
  margin-bottom: 1vh;
  box-shadow: 0px 3px 8px gray;
  padding: 0;
}
.card-body {
  height: 8vh;
  width: 100%;
  padding: 0;
}
.content-img {
  float: left;
  height: 100%;
  width: 35%;
  padding: 5px;
}
#tombrady {
  background-image: url("../img/football.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#nestle {
  background-image: url("../img/nestle.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#worth {
  background-image: url("../img/worth.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#youtube {
  background-image: url("../img/youtube.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-title {
  margin-left: 5%;
  margin-top: 1%;
  width: 60%;
  display: inline-block;
  font-size: 15px;
}
img.bcase {
  height: 15px;
  width: 15px;
  padding: 0;
  margin-right: 5px;
}
.secondary {
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 10px;
  padding-top: 2px;
  font-size: 10px;
}

/*LAST LG BOX*/
.end-img {
  height: 25vh;
  width: 100%;
  background-image: url("../img/xmas.jpg");
  height: 25vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 1vh;
}

/*TABLET*/
@media screen and (min-width: 750px) {
  .row {
    margin: 0;
  }
  .col-md-6 {
    max-width: 47%;
  }
  .card {
    margin-bottom: 2vh;
  }

  .hero-phrase h1 {
    padding-left: 40px;
    padding-bottom: 20px;
  }

  .card-img {
    height: 100%;
  }

 /*SMALL BOXES*/

  .content-box {
    height: 35vh;
    width: 33vw;
    margin-bottom: 2vh;
    margin-left: 2vw;
    box-shadow: 0px 3px 8px gray;
    padding: 0;
  }
  .card-body {
    height: 20vh;
    width: 100%;
    padding: 0;
  }

  .content-img {
    float: left;
    height: 54%;
    width: 100%;
    padding: 5px;
  }

  img.bcase {
    height: 15px;
    width: 15px;
    padding: 0;
    margin-right: 5px;
  }

  p.card-title {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    padding-top: 5px;
  }

  .secondary {
    margin-top: 15px;
    font-size: 13px;
  }

  /*LARGE IMG BOXES*/

  .card-text {
    position: absolute;
    top: 86%;
    color: white;
  }
  .secondary-hero {
    position: absolute;
    top: 91%;
    font-size: 15px;
  }

}

/*LAPTOP*/

@media screen and (min-width: 1000px) {

  .top-row {
    margin-top: 5vh;
    margin-bottom: 0;
  }

  .bottom-row {
    width: 100%;
    height: 60%;
  }
  .col-lg-6 {
    max-width: 45%;
  }
  #doink {
    position: absolute;
    left: 7%;
  }
  .logo-image {
    position: absolute;
    left: 12%;
  }
  #search {
    position: absolute;
    right: 5%;
  }
  .hero-phrase h1 {
    display: none;
  }

  #first {
    margin-top: 0;
  }

  .card-inverse {
    box-shadow: 0px 3px 8px gray;
  }

  .content-box {
    /*height: 30vh;*/
    width: 25vw;
    margin-bottom: 2vh;
    margin-left: 15px;
    box-shadow: 0px 3px 8px gray;
    padding: 0;
  }

  .content-box:nth-of-type(1) {
    margin-left: 0;
  }

  .card-body {
    height: 100%;
    padding: 0;
  }

  .content-img {
    float: left;
    height: 40%;
    width: 100%;
    padding: 5px;
  }

  p.card-title {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 18px;
    padding: 5px;
  }

  .secondary {
    margin-top: 15px;
    font-size: 13px;
  }

  img.bcase {
    height: 20px;
    width: 20px;
    padding: 0;
    margin-right: 10px;
  }

  .card-text {
    position: absolute;
    top: 49%;
    color: white;
    font-size: 1.5em;
  }
  .secondary-hero {
    position: absolute;
    top: 87%;
    font-size: 15px;
  }

  #last {
    margin-left: 15px;
  }
}
